html, body {
	margin: 100;
	padding: 10;
	color: black;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 1.75;
	background-image: linear-gradient(to right, gold , green);
}

h2, h3, h4, h5, h6 {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 15px;
	width: max-content;
	color:blanchedalmond;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 54px;
	color: black;
	background-size: cover;
	height: min-content;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	color:blanchedalmond;
	background-repeat:round;
	border-radius: 50px;
	background-image: url("https://www.gardendesign.com/pictures/images/900x705Max/site_3/zen-garden-japanese-garden-raked-gravel-garden-shutterstock-com_15666.jpg");
}

h2 {
	font-family: "Rajdhani", sans-serif;
	text-shadow: 0px 0px 12px black;
	font-weight: 700;
	position:fixed;
}

h3 {
	font-family: "Rajdhani", sans-serif;
	text-shadow: 0px 0px 12px rgba(255, 165, 0, 1);
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 15px;
}

h4 {
	font-family: "Rajdhani", sans-serif;
	text-shadow: 0px 0px 12px;
	font-weight: 700;
	text-align: right;
}

p {
	font-size: 20px;
	margin: 16px 0px;
	width: 65%;
	max-width: 850px;
	padding-right: 10px;
	text-align: left;
}

a {
	text-decoration: none;
	color: gold;
}

ul {
	list-style: none;
	padding: 0;
}

header, .page-wrapper > div, .page-wrapper section > div {
	padding: 10px 30px 10px 80px;
}

aside.sidebar {
	position: absolute;
	right: -6%;
	top: 300px;
	margin: 40px;
	padding: 10px 30px;
}

#zen-summary p:first-child {
	margin-top: 40px;
}

section#zen-intro a {
	text-transform: uppercase;
}

@media (max-width: 100px) {
	aside.sidebar {
		position: static;
		margin: 0;
	}

	p {
		width: 85%;
		text-align: left;
	}

	header, .page-wrapper > div, .page-wrapper section > div, aside.sidebar {
		padding: 10px 30px 10px 30px;
		border-style: solid;
	}

	h1, h2, h3, h4, h5, h6 {
		word-wrap: break-word;
	}

	h1 {
		font-size: 76px;
	}

	h2 {
		font-size: 42px;
	}

	footer > a {
		color: white;
		background-color: blanchedalmond;
		text-align: center;
		font-size: 20px;
		padding: 10px;
		border-radius: 7px;
		width: 100px;
	}
}