 html, body {
	margin: 100;
	padding: 10;
	background-color: bisque;
	color: goldenrod;
	font-family: "Rajdhani", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 15px;
}

h1 {
	font-size: 84px;
	text-shadow: 0px 0px 12px black;
	color: rgb(205, 102, 174);
}

h2 {
	font-family: "Rajdhani", sans-serif;
	text-shadow: 0px 0px 12px khaki;
	font-weight: 700;
	font-size: 52px;
}

h3 {
	font-family: "Rajdhani", sans-serif;
	text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6);
	font-weight: 700;
	font-size: 38px;
	margin-top: 20px;
	margin-bottom: 15px;
}

h4 {
	font-family: "Rajdhani", sans-serif;
	text-shadow: 0px 0px 12px;
	font-weight: 700;
}

p {
	font-size: 20px;
	margin: 16px 0px;
	width: 65%;
	max-width: 850px;
	padding-right: 10px;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
	padding: 0;
}

header, .page-wrapper > div, .page-wrapper section > div {
	padding: 10px 30px 10px 80px;
}

aside.sidebar {
	position: absolute;
	right: 1%;
	top: 300px;
	padding: 10px 30px;
}

#zen-summary p:first-child {
	margin-top: 40px;
}

section#zen-intro a {
	text-transform: uppercase;
}

@media (max-width: 100px) {
	aside.sidebar {
		position: static;
		margin: 0;
	}

	p {
		width: 85%;
	}

	header, .page-wrapper > div, .page-wrapper section > div, aside.sidebar {
		padding: 10px 30px 10px 30px;
	}

	h1, h2, h3, h4, h5, h6 {
		word-wrap: break-word;
	}

	h1 {
		font-size: 76px;
	}

	h2 {
		font-size: 42px;
	}
}